
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: rgb(52,53,55);">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div><img src="/images/icon.png" style="font-size: 16px;height: 43px;width: 47px;"></div>
            <div class="sidebar-brand-text mx-3"><span style="font-size: 13px;">Call Logs</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <!-- <li class="nav-item"><a class="nav-link active" href="dashboard"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li> -->
            <li class="nav-item"></li>
            <li class="nav-item"><a class="nav-link" href="call-logs"><i class="fas fa-phone-square-alt"></i><span>MSISDN check</span></a></li>
            <li class="nav-item"><a class="nav-link" href="imei"><i class="fas fa-grip-lines-vertical"></i><span>IMEI Check</span></a></li>
            <li class="nav-item"><a class="nav-link" href="msisdn"><i class="fas fa-sim-card"></i><span>MSISDN Check</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>

   


